@font-face {
  font-family: "HelveticaNeueBold";
  src: url("../fonts/HelveticaNeueLTStd-Bd.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("../fonts/HelveticaNeueLTStd-Lt.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("../fonts/HelveticaNeueLTStd-Md.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueRoman";
  src: url("../fonts/HelveticaNeueLTStd-Roman.otf") format("opentype");
}
