.home-container {
  a, .board {
    border: 1px solid #333;
    width: 195px;
    height: 90px;
    margin: 15px;
    color: white;
    text-decoration: none;
    background-color: inherit;
    &:hover {
      cursor: pointer;
      background-color: blue;
      text-decoration: underline;
      font-style: italic;
    }
    h3, button {
      padding: 15px;
    }
  }
}
